*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    height: 400px;
}

.top-nav{
    text-align: right;
    background-color: #7c7779;
}



.logo{
    width: 200px;
}

h1{
    color: #e91160;
}

#menu {
    margin-top: 80px;
}
#menu ul{
    text-align: center;
    list-style-type: none;
    background: pink;
    padding: 5px;
    
}

#menu ul li {
    color: pink;
    display: inline-table;
    width: 80px;
    height: 20px;
    line-height: 20px;
    position: relative;
}
#menu ul li a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
#menu ul li a:hover{
    background: #f1f1f1;
    color: pink;
    display: block;

}
#menu ul li > .sub-menu{
    display: none;
    position: absolute;
}
#menu ul li:hover .sub-menu{
    display: block;
}

footer a {
    color: black;
}
footer a:hover {
    text-decoration: none;
    color: pink;
}


.co-dinh-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
 }
 .content{
    width: 1200px;
    margin: auto;
 }
 .content img{
    width: 100%;
    margin: 40px 0px;
 }
 .back-to-top {
    width: 50px;
    height: 50px;
    background: rgb(0,0,0,0.7);
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: -25px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
 }
 .back-to-top.hien-ra{
    visibility: visible;
    opacity: 1;
 }
